<!doctype html>
<html lang="en">

<head>
  <title>不使用webpack开发的vue项目</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/static/css/all.css">
  <link href="https://cdn.bootcss.com/hover.css/2.3.1/css/hover.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" href="/index.css">
  <!-- <link rel="stylesheet" href="https://unpkg.com/metismenu/dist/metisMenu.min.css"> -->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hvr-wobble-top hvr-shutter-out-horizontal" href="javascript:;"
            @click="showAllRouter">目录</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li :class="{active : index == activeNav}" v-for="(item ,index) in navList" :key="index"
              @click="activeNav = index" class="hvr-bounce-to-bottom">
              <router-link :to="item.to">
                <a href="javascript:;" class="hvr-bounce-to-top">
                  {{item.val}}
                </a>
              </router-link>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="javascript:;" @click="requestFullscreen"> {{!fullscreen ? '全屏' : '关闭全屏'}}</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>

    <!-- 路由出口 -->
    <!-- 路由匹配到的组件将渲染在这里 -->
    <div id="content">
      <router-view></router-view>
    </div>
    <div>
      <w-footer></w-footer>
    </div>

    <div id="showAllRouter" style="display:none; justify-content:space-around;padding:10px;">
      <div v-for="(item, i) in menuList" :key="i" style="flex:1; padding:5px;margin-top:10px;" class="showAllRouter">
        <h3 class="bg-danger text-center showAllRouter-handle">{{ item.name }}</h3>
        <a href="javascript:;" v-for="(sub,k) in item.children" class="label label-info routers"
          @click="linkto(item.path + sub.path)" style="margin:6px">{{sub.name}}</a>
        <!--        <div v-for="(subitem, j) in item.children" :key="j" style="border:1px solid #ccc;margin-top:10px">
          <h4 class="bg-info routerSort-handle" class="routerSort"> {{ subitem.name }}</h4>
          <div class="routerSort2">
            <a href="javascript:;" v-for="(sub,k) in subitem.subList" class="label label-info routers"
              @click="linkto(item.path + sub.path)" style="margin:2px">{{sub.name}}</a>
          </div>
        </div> -->
      </div>

    </div>

  </div>




  <!-- <script src="./static/js/all.js"></script> -->
  <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-migrate/3.2.0/jquery-migrate.min.js"></script>
  <script src="https://cdn.bootcss.com/metisMenu/2.0.2/metisMenu.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>

  <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
  <!-- 不能用压缩的,压缩的看vuetool 不能看 -->
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>

  <script src="./static/js/httpvueloader.js"></script>

  <script src="https://cdn.bootcss.com/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="https://cdn.bootcss.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
  <script src="https://cdn.bootcss.com/clipboard.js/2.0.6/clipboard.min.js"></script>

  <script src="./static/layer/layer.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>
  <!-- <script src="https://cdn.bootcss.com/layer/1.8.  5/layer.min.js"></script> -->

  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdn.bootcss.com/dom-to-image/2.2.0/dom-to-image.js"></script>
  <script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.js"></script>
  <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.7.0/echarts.min.js"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/fabric.js/4.0.0-beta.5/fabric.js"></script>

  <script src="https://cdn.bootcss.com/keymaster/1.6.1/keymaster.min.js"></script>
  <script src="https://cdn.bootcss.com/Sortable/1.10.1/Sortable.min.js"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/Mock.js/1.0.1-beta3/mock.js"></script>
  <script src="./mock/mock.js"></script>



  <!-- <script src="./router/index.js"></script> -->
  <!-- 全部的侧边栏菜单 -->
  <script src="./router/menu.js"></script>
  <script src="./index.js" type='module'></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>


</body>

</html>